local/artifacts/nvim-config.tar.gz filter=lfs diff=lfs merge=lfs -text
local/artifacts/nvim-share.tar.gz filter=lfs diff=lfs merge=lfs -text
local/artifacts/nvim-state.tar.gz filter=lfs diff=lfs merge=lfs -text
local/artifacts/* filter=lfs diff=lfs merge=lfs -text
