[submodule "airootfs/etc/skel/.config/nvim"]
	path = airootfs/etc/skel/.config/nvim
	url = git@github.com:JulesVerne22/JulianSmith.nvim.git
[submodule "airootfs/root/.config/nvim"]
	path = airootfs/root/.config/nvim
	url = git@github.com:JulesVerne22/JulianSmith.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/Comment.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/Comment.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/lazy.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/LuaSnip"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/bufferline.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/cmp-nvim-lsp"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/cmp_luasnip"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/fidget.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/gitsigns.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/mason-lspconfig.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/mason-nvim-dap.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/mason-nvim-dap.nvim
	url = https://github.com/jay-babu/mason-nvim-dap.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/harpoon"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/friendly-snippets"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/mini.icons"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/mini.icons
	url = https://github.com/echasnovski/mini.icons.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/indent-blankline.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/lualine.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/markdown-preview.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/mason.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/moonfly"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/moonfly
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-autopairs"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/neodev.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/neodev.nvim
	url = https://github.com/folke/neodev.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-cmp"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap-go"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap-python"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap-ui"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-lspconfig"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-nio"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-tree.lua"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-treesitter"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/telescope-fzf-native.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-treesitter-textobjects"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-trevj.lua"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-trevj.lua
	url = https://github.com/AckslD/nvim-trevj.lua.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-ts-autotag"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/toggleterm.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-ts-context-commentstring"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/nvim-web-devicons"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/persistence.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/persistence.nvim
	url = https://github.com/folke/persistence.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/plenary.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/telescope-emoji.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/telescope-emoji.nvim
	url = https://github.com/xiyaowong/telescope-emoji.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/telescope.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/venv-selector.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/venv-selector.nvim
	url = https://github.com/linux-cultist/venv-selector.nvim.git
[submodule "airootfs/etc/skel/.local/share/nvim/lazy/which-key.nvim"]
	path = airootfs/etc/skel/.local/share/nvim/lazy/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/lazy.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/LuaSnip"]
	path = airootfs/root/.local/share/nvim/lazy/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "airootfs/root/.local/share/nvim/lazy/bufferline.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/cmp-nvim-lsp"]
	path = airootfs/root/.local/share/nvim/lazy/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "airootfs/root/.local/share/nvim/lazy/cmp_luasnip"]
	path = airootfs/root/.local/share/nvim/lazy/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "airootfs/root/.local/share/nvim/lazy/fidget.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/gitsigns.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/mason-lspconfig.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/mason-nvim-dap.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/mason-nvim-dap.nvim
	url = https://github.com/jay-babu/mason-nvim-dap.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/harpoon"]
	path = airootfs/root/.local/share/nvim/lazy/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
[submodule "airootfs/root/.local/share/nvim/lazy/friendly-snippets"]
	path = airootfs/root/.local/share/nvim/lazy/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "airootfs/root/.local/share/nvim/lazy/mini.icons"]
	path = airootfs/root/.local/share/nvim/lazy/mini.icons
	url = https://github.com/echasnovski/mini.icons.git
[submodule "airootfs/root/.local/share/nvim/lazy/indent-blankline.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/lualine.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/markdown-preview.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/mason.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/moonfly"]
	path = airootfs/root/.local/share/nvim/lazy/moonfly
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-autopairs"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "airootfs/root/.local/share/nvim/lazy/neodev.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/neodev.nvim
	url = https://github.com/folke/neodev.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-cmp"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-dap"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-dap-go"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-dap-python"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-dap-ui"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-lspconfig"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-nio"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-tree.lua"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-treesitter"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "airootfs/root/.local/share/nvim/lazy/telescope-fzf-native.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-treesitter-textobjects"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-trevj.lua"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-trevj.lua
	url = https://github.com/AckslD/nvim-trevj.lua.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-ts-autotag"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag.git
[submodule "airootfs/root/.local/share/nvim/lazy/toggleterm.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-ts-context-commentstring"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "airootfs/root/.local/share/nvim/lazy/nvim-web-devicons"]
	path = airootfs/root/.local/share/nvim/lazy/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "airootfs/root/.local/share/nvim/lazy/persistence.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/persistence.nvim
	url = https://github.com/folke/persistence.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/plenary.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/telescope-emoji.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/telescope-emoji.nvim
	url = https://github.com/xiyaowong/telescope-emoji.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/telescope.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/venv-selector.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/venv-selector.nvim
	url = https://github.com/linux-cultist/venv-selector.nvim.git
[submodule "airootfs/root/.local/share/nvim/lazy/which-key.nvim"]
	path = airootfs/root/.local/share/nvim/lazy/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
